div{
    background-color: #F2F2F2;
    width: 380px;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    box-shadow: #00000018 5px 5px 5px;
}
h2{
    background-color: #6EA3FA;
    width: 70%;
    margin: 10px auto;
    border-radius: 5px;
    text-align: center;
}
p{
    background-color: #D8A07A;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-left: 23%;
}
#try-again {
    display: none;
    color: red;
}
button{
    margin-left: 15%;
    border-radius: 5px;
    background-color: #6EA3FA;
    border: none;
    padding: 5px 10px;
}